.background {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.content {
  background-color: #f6f6f4;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.social-container-mobile {
  display: none;
}

#navigation-menu {
  display: none;
}

@media (max-width: 1199px) {
  .content {
    background-size: calc(100vh); /* Adjust the size for mobile */
    background-position: bottom center; /* Align the image to the bottom center on mobile */
    padding-bottom: 4rem !important; /* Optional: Add padding to adjust spacing */
  }

  .social-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
  }

  #navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
  }

  .background.scroll {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .background-image {
    width: 100%;
  }
}

.empty-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
