.photograph-slider-container-parent {
  /* width: 21rem; */
  margin: 0 auto;
  height: fit-content;
  margin-top: 1rem;
  padding: 0 4rem !important;
}

.no-select {
  user-select: none;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  width: 100%;
  height: 100%;
}

.swiper-main-container {
  width: 100%;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-next-el,
.swiper-prev-el {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-prev,
.swiper-prev-el {
  left: -4%;
}

.swiper-next,
.swiper-next-el {
  right: -4%;
}

.cursor {
  cursor: pointer;
}

.mySwiper .swiper-slide {
  transition: transform 0.3s ease;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.2);
}

@media (max-width: 1199px) {
  .photograph-slider-container-parent {
    margin-top: 1.5rem;
  }

  .swiper-slide {
    padding: 1.5rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}

@media (max-width: 768px) {
  .photograph-slider-container-parent {
    margin-top: 1.5rem;
    width: 100%;
    height: fit-content;
  }

  .swiper-slide {
    padding: 1.5rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}
