.photograph-slider-container-parent {
  width: 21rem;
  margin: 0 auto;
  height: 23.875rem;
  margin-top: 4rem;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #000;
  margin-top: 1.8rem;
  width: 23.871rem;
  height: 19.194rem;
}

.swiper-main-container {
  width: 100%;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 21.094rem;
  height: 16.319rem;
  object-fit: cover;
  cursor: pointer;
}

.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-next-el,
.swiper-prev-el {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-prev,
.swiper-prev-el {
  left: -4%;
}

.swiper-next,
.swiper-next-el {
  right: -4%;
}

.cursor {
  cursor: pointer;
}

.mySwiper .swiper-slide {
  transition: transform 0.3s ease;
}

.mySwiper .swiper-slide-active {
  transform: scale(1.2);
}

@media (max-width: 1368px) and (min-width: 768px) {
  .swiper-slide {
    width: 16rem;
    height: 15rem;
  }
  .swiper-slide img {
    width: 17.6rem ;
    height: 12.2rem;
  }
}

@media (max-width: 1199px) and (min-width: 1024px) {
  .photograph-slider-container-parent {
    width: 90% !important;
    height: fit-content;
    margin-top: -6rem !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20rem !important;
  }

  .photograph-slider-container-parent-2 {
    margin-top: 10rem !important;
  }

  .swiper-next,
  .swiper-next-el {
    right: -6%;
    top: 50%;
  }

  .swiper-prev,
  .swiper-prev-el {
    left: -6%;
    top: 50%;
  }

  .swiper-slide {
    width: 16rem;
    height: 15rem;
  }

  .swiper-slide img {
    width: 23.6rem;
    height: 12.2rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}

@media (max-width: 1020px) {
  .photograph-slider-container-parent {
    width: 90% !important;
    height: fit-content;
    margin-top: -6rem !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20rem !important;
  }

  .photograph-slider-container-parent-2 {
    margin-top: 10rem !important;
  }
  .swiper-next,
  .swiper-next-el {
    right: -6%;
    top: 50%;
  }

  .swiper-prev,
  .swiper-prev-el {
    left: -6%;
    top: 50%;
  }

  .swiper-slide {
    width: 16rem;
    height: 15rem;
  }
  .swiper-slide img {
    width: 17.6rem;
    height: 12.2rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}

@media (max-width: 768px) {
  .photograph-slider-container-parent {
    width: 90% !important;
    height: fit-content;
    margin-top: -6rem !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .photograph-slider-container-parent-2 {
    margin-top: 10rem !important;
  }
  .swiper-next,
  .swiper-next-el {
    right: -6%;
    top: 50%;
  }

  .swiper-prev,
  .swiper-prev-el {
    left: -6%;
    top: 50%;
  }

  .swiper-slide {
    width: 16rem;
    height: 15rem;
  }
  .swiper-slide img {
    width: 17.6rem;
    height: 12.2rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}

@media (max-width: 767px) {
  .photograph-slider-container-parent {
    width: 90% !important;
    height: fit-content;
    margin-top: -6rem !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .photograph-slider-container-parent-2 {
    margin-top: 10rem !important;
  }
  .swiper-next,
  .swiper-next-el {
    right: -12%;
    top: 50%;
  }

  .swiper-prev,
  .swiper-prev-el {
    left: -12%;
    top: 50%;
  }

  .swiper-slide img {
    width: 17rem;
    height: 12.6rem;
  }

  .swiper-slide {
    height: 15rem;
  }

  .mySwiper .swiper-slide-active {
    transform: none;
  }
}
