/* PortfolioPage.css */

.portfolio-page-main-container {
  width: 100%;
  height: fit-content;
  overflow: hidden;

}

.portfolio-page-main-container.scroll {
  height: 100vh;
  overflow-y: scroll;
}

.portfolio-head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;

  padding: 0 4rem !important;
}

@media  (min-width:1921px) and (max-width: 2560px) {
  .portfolio-head-section{
    width: 70% !important;
  }
}

.portfolio-head-titles {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.406rem;
  font-family: "Poppins", sans-serif;
  width: 8rem;
  height: 2.938rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  cursor: pointer;
}

#select-section-for-head {
  display: none;
}

.portfolio-head-titles:hover {
  color: #000;
  font-weight: 500;
  transform: scale(1.1);
  border: 1px solid #000;
}

.portfolio-head-titles-active {
  color: #000;
  font-weight: 500;
  transform: scale(1.1);
  border: 1px solid #000;
}

@media (max-width: 768px) {
  .portfolio-head-section {
    display: none;
  }

  #select-section-for-head {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
  }

  .portfolio-page-main-container {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
  }

  body {
    height: 100vh;
    margin: 0;
  }
}
